.controlBar {
  border-top: 1px solid black;
  height: 25px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
}

.bgmToggle {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
}
