.titleBar {
  display: flex;
  height: 27px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.titleBar img {
  width: 18px;
  height: 18px;
}

.titleBar img.px16 {
  width: 16px;
  height: 16px;
}

.titleBar .left {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-left: 4px;
}

.titleBar .left span {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.titleBar .right {
  display: flex;
  height: 100%;
}

.titleBar .right > div {
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.titleBar .right > div.close:hover {
  background-color: #e81123;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.titleBar .right > div.close:hover img {
  filter: brightness(0) invert(1);
}
