.header {
  display: flex;
  height: 27px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header img {
  width: 18px;
  height: 18px;
}

.header img.px16 {
  width: 16px;
  height: 16px;
}

.headerLeft {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-left: 4px;
}

.headerLeft span {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.headerRight {
  display: flex;
}

.headerRight > div {
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
