.gameFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.footerSection {
  padding-left: 16px;
  padding-right: 16px;
  width: 320px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.btnContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-weight: 700;
  border: 2px outset #fff;
  background-color: #f0f0f0;
  color: black;
  text-align: center;
}

.btnContainer button:disabled {
  border: 1px solid #ccc;
  color: #b0b0b0;
}

.btnContainer button:not(:disabled):active {
  border-color: #333;
}

.btnContainer button:not(:disabled):active > span {
  transform: translate(1px, 1px);
}

.btnContainer > button.btn-new {
  width: 90px;
  height: 28px;
}

.btnContainer .controls {
  display: flex;
  gap: 4px;
}

.btnContainer .controls button.btnHistory {
  width: 75px;
  height: 28px;
}

.displayContainer {
  display: flex;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-weight: 700;
  flex: 1;
}

.label {
  cursor: default;
  color: yellow;
}

.digital {
  background-color: black;
  color: red;
  font-family: 'DIGITAL-7', sans-serif;
  font-size: 32px;
  line-height: 24px;
  font-weight: 500;
  cursor: default;
}
